<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="XML Guard Universal" Language="1033" Version="3.0.0" Manufacturer="Cipher AI" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate />
    
    <Feature Id="ProductFeature" Title="XML Guard Universal" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="XMLGuardUniversal.exe" Source="XMLGuardUniversal.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Product>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="XMLGuardUniversal" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>